---
import Iphone from '../assets/iphone.jpg';
import Carrito from '../assets/carrito.png';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <img class="carrito" src={Carrito.src}/>
        <img src={Iphone.src} />
        <slot name="subtitulo"/>
        <slot name="descripcion"/>
    </div>

</body>
</html>
<style>
    .form{
        display:block;
        background-color: rgb(241, 237, 237);
        width: 230px;
        border:2px solid black;
        margin:20px auto;
        border-radius: 10px;
        box-shadow: 5px 5px 2px 0px rgb(219, 216, 216);
    }
    .carrito{
        width: 20px;
        margin: 10px 100px 10px 10px;
        padding-left: 180px;
    }
</style>